<div class="show-style">
  <h3> <%= @passenger.name %> </h3>
  <p>  &#128222 <%= @passenger.phone_num %> </p>
  <p> Total Charges: $<%= @passenger.total_charges %> </p>

  <ul>
    <li> <%= link_to 'Edit Passenger', edit_passenger_path %> </li>
    <li> <%= link_to 'Delete Passenger', passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %> </li>
    <li> <%= link_to 'Request New Trip', new_passenger_trip_path(@passenger.id) %> </li>
  </ul>

  <table>
      <tr>
        <th> Trip ID </th>
        <th> Date </th>
        <th> Driver Name </th>
        <th> Passenger Name </th>
      </tr>
    <% @passenger.trips.each do |trip| %>
      <% driver = (Driver.find(trip.driver_id)) %>
      <tr>
        <td> <%= link_to "Trip##{trip.id}", trip_path(trip.id) %> </td>
        <td> <%= trip.date %> </td>
        <td> <%= link_to driver.name, driver_path(driver.id) %> </td>
        <td> <%= link_to @passenger.name, passenger_path(@passenger.id) %> </td>
      </tr>
    <% end %>
  </table>
</div>