<div>
  <h1><%= @driver.name %></h1>
   <br>
  Vin: <%= @driver.vin %>
   <br>
  Status: <%= @driver.available ? "Available" : "Unavailable" %>
   <br>
  Rating
    <br>
  Cost
      <br> 
    <%if @driver.available%>
  <button> <%= link_to 'Make Unavailable', make_available_path(@driver.id), method: :patch %></button>
    <%else%>
  <button> <%= link_to 'Make Available', make_available_path(@driver.id), method: :patch %></button>
    <%end%>
      <br>
  <button><%= link_to "Edit Driver", edit_driver_path(@driver) %></button>
     <br>
  <button><%= link_to "Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%> </button>


    <table>
      <tr>
        <th> Trip ID </th>
        <th> Date </th>
        <th> Driver Name </th>
        <th> Passenger Name </th>
      </tr>
    <% @driver.trips.each do |trip| %>
      <% passenger = (Passenger.find(trip.passenger_id)) %>
      <tr>
        <td> <%= link_to "Trip##{trip.id}", trip_path(trip.id) %> </td>
        <td> <%= trip.date %> </td>
        <td> <%= link_to @driver.name, driver_path(@driver.id) %> </td>
        <td> <%= link_to passenger.name, passenger_path(passenger.id) %> </td>
      </tr>
    <% end %>
  </table>
</div>
