<div class="show-style">
  <h1><%= @driver.name %></h1>
   <br>
  Vin: <%= @driver.vin %>
   <br>
  Status: <%= @driver.available ? "Available" : "Unavailable" %>
     <br>
  Total Trips: <%= @driver.trips.count %>
   <br>
  Rating: <%= @driver.avg_rating %>
    <br>
  Total Earnings: $<%= @driver.total_earnings %>
      <br> 
    <%if @driver.available%>
  <button class="show-btn"> <%= link_to 'Make Unavailable', make_available_path(@driver.id), method: :patch %></button>
    <%else%>
  <button class="show-btn"> <%= link_to 'Make Available', make_available_path(@driver.id), method: :patch %></button>
    <%end%>
      <br>
  <button class="show-btn"><%= link_to "Edit Driver", edit_driver_path(@driver.id) %></button>
     <br>
  <button class="show-btn"><%= link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete driver: #{@driver.name}?"}%> </button>
  
  <% if @driver.trips.count > 0 %>
    <table>
      <tr>
        <th> Trip ID </th>
        <th> Date </th>
        <th> Driver Name </th>
        <th> Passenger Name </th>
      </tr>
 
      <% @driver.trips.order(date: :desc).each do |trip| %>
        <% passenger = (Passenger.find_by(id: trip.passenger_id)) %>
        <% if !passenger.nil? %>
          <tr>
            <td> <%= link_to "Trip##{trip.id}", trip_path(trip.id) %> </td>
            <td> <%= trip.date %> </td>
            <td> <%= link_to @driver.name, driver_path(@driver.id) %> </td>
            <td> <%= link_to passenger.name, passenger_path(passenger.id) %> </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p><strong> <%= "#{@driver.name} currently has no trips." %> </strong></p>
  <% end %>
</div>
