<div>
  <h1><%= @driver.name %></h1>
   <br>
  <h1><%= @driver.vin %></h1>
   <br>
  <h1><%= @driver.available%></h1>
  <%= link_to "Edit", edit_driver_path(@driver) %>
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%>


    <table>
      <tr>
        <th> Trip ID </th>
        <th> Date </th>
        <th> Driver Name </th>
        <th> Passenger Name </th>
      </tr>
    <% @driver.trips.each do |trip| %>
      <% passenger = (Passenger.find(trip.passenger_id)) %>
      <tr>
        <td> <%= link_to "Trip##{trip.id}", trip_path(trip.id) %> </td>
        <td> <%= trip.date %> </td>
        <td> <%= link_to @driver.name, driver_path(@driver.id) %> </td>
        <td> <%= link_to passenger.name, passenger_path(passenger.id) %> </td>
      </tr>
    <% end %>
  </table>
</div>
